.cover-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


//font size classes
.font-20{
  font-size: 20px;
}
.font-18{
  font-size: 18px;
}
.font-16{
  font-size: 16px;
}
.font-15{
  font-size: 15px;
}
.font-14{
  font-size: 14px;
}
.font-13{
  font-size: 13px;
}
.font-12{
  font-size: 12px;
}
.font-10{
  font-size: 10px;
}
//margins
.mb-15{
  margin-bottom: 15px;
}
.mr-15{
  margin-right: 15px;
}

//text colors
.t-green{
  color: $base-green;
}
