$transparent: transparent;
$base-black:#0B1016;
$bg-color:#181926;
$placeholder-color:#1A1D33;
$label-color:#C9C5D4;
$title-grey:#A1A1BC;
$card-grey-text:#9E9FE3;
$base-btn-color:#626494;
$card-hover-color: #333358;

$card-transparent: rgba(11,16,22,0.2);
$modal-tranparent: rgba(26,29,51,0.7);

$base-green:#0C9E76;
$base-red: #d42260;
$base-blue:#22A6FE;
$dark-blue:#0E87D8;
$white: #ffffff;
$black:#000000;

$green-btn-gradient:linear-gradient(200deg, #8CC44F 10%, #4ED462);
$red-btn-gradient:linear-gradient(-180deg,#d4225d,#d42260);

$active-card-shadow: 0px 3px 6px rgba(84,15,255, 0.16);
$card-shadow: 0px 3px 6px rgba(0,0,0,0.16);

$modal-backdrop: rgba(26,29,51,0.7);

$border-red:#d4225d;
$border-green:#4ED462;
