$bar-width: 26px;
$bar-height: 3px;
$bar-spacing: 8px;

.hamburger {
  width: $bar-width;
  height: $bar-height + $bar-spacing*2;
  cursor: pointer;

  .menu,
  .menu::after,
  .menu::before {
    width: $bar-width;
    height: $bar-height;
    border-radius: 2px;
  }

  .menu {
    position: relative;
    transform: translateY($bar-spacing);
    background: rgba(255, 255, 255, 1);
    transition: all 0ms 200ms;

    &.animate {
      background: rgba(255, 255, 255, 0);
    }
  }

  .menu {
    position: relative;
    transform: translateY($bar-spacing);
    background: rgba(255, 255, 255, 1);
    transition: all 0ms 200ms;

    &.active {
      background: rgba(255, 255, 255, 0);
    }
  }

  .menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: $bar-spacing;
    background: rgba(255, 255, 255, 1);
    transition: bottom 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: $bar-spacing;
    background: rgba(255, 255, 255, 1);
    transition: top 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu {
    &.active {
      &::after {
        top: 0;
        transform: rotate(45deg);
        transition: top 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);;
      }

      &::before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);;
      }
    }
  }
}
