.btn-main{
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  outline: none;
  display: inline-block;
  text-decoration: none;
  font-family: $montMedium;
  text-align: center;
  color: $white;
  padding: 8px 30px;
  cursor: pointer;
  transition: .2s;
  user-select: none;
  position: relative;
  overflow: hidden;
  @extend .font-14;
  &:focus{
    outline: none;
  }
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $base-black;
    opacity: 0;
    transition: .2s;
  }
  &:hover{
    &::after{
      opacity: 0.2;
    }
  }
  &.rd{
    background-image: $red-btn-gradient;
    border-color: $border-red;
  }
  &.grn{
    background-image: $green-btn-gradient;
    border-color: $border-green;
  }
  &.trnsprnt{
    background-color: $transparent;
    border-color: $base-btn-color;
    &:hover{
      background-color: $card-hover-color;
    }
    &::after{
      display: none;
    }
  }
}
