.trade-form{
  padding: 0 10px;
  .place-order{
    margin: 20px 0;
    .btn-main{
      width: 100%;
      background-color: $transparent;
      border-color: $transparent;
      @extend .font-15;
      color: $title-grey;
      &.active{
        background-color: $base-red;
        color: $white;
      }
    }
  }
  &__counter{
    display: flex;
    button{
      display: inline-block;
      width: 40px;
      min-width: 40px;
      background-color: $base-btn-color;
      color: $white;
      text-align: center;
      line-height: 36px;
      transition: .2s;
      cursor: pointer;
      border: none;
      outline: none!important;
      &:hover{
        background-color: $card-hover-color;
      }
      &.left{
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      &.right{
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
    input{
      border-radius: 0;
      text-align: center;
    }
  }
  &__margin{
    @extend .font-13;
    text-align: center;
    color: $white;
    margin:-5px 0;
    span:first-child{
      color: $title-grey;
      margin-right: 5px;
    }
  }
  &__label{
    margin-bottom: 5px;
    color: $label-color;
    font-family: $montBold;
    @extend .font-14;
  }
  &__input{
    width: 100%;
    background-color: $placeholder-color;
    border:1px solid $placeholder-color;
    border-radius: 6px;
    color: $white;
    padding: 6px;
    transition: .2s;
    @extend .font-14;
    &:focus{
      border-color: $base-blue;
    }
    @extend .font-15;
    &::placeholder{
      color: $base-btn-color;
    }
  }
  &__market{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    line-height: 1;
    &-ico{
      width: 20px;
      height: 20px;
      margin-right: 5px;
      img{
        @extend .cover-img;
      }
    }
    &-name{
      color: $white;
      line-height: 1;
      font-family: $montBold;
      @extend .font-14;
    }
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    &-full{
      width: 100%;
    }
    &-left,
    &-right{
      width: 50%;
    }
    &-left{
      padding-right: 5px;
    }
    &-right{
      padding-left: 5px;
    }
    .btn-main{
      width: 100%;
      padding-top: 6px;
      padding-bottom: 6px;
    }
    .trade-form__types{
      display: flex;
      justify-content: space-between;
      margin-bottom: -20px;
      .btn-main{
        margin-bottom: 10px;
        background-color: $placeholder-color;
        color: $base-btn-color;
        border-color: $placeholder-color;
        &:focus,
        &:hover{
          background-color: $card-hover-color;
        }
        &.active{
          background-color: $base-blue;
          color: $white;
        }
        &::after{
          display: none;
        }
      }
    }
  }
}
