.main-scrollbar{
  .os-scrollbar>.os-scrollbar-track{
    background-color: $transparent;
  }
}
.main-scrollbar>.os-scrollbar .os-scrollbar-track>.os-scrollbar-handle{
  background-color: $placeholder-color;
}

.main-scrollbar.os-host-overflow{
  padding-right: 15px;
  margin-right: -15px;
}
.os-theme-light>.os-scrollbar >.os-scrollbar-track>.os-scrollbar-handle.active,
.os-theme-light>.os-scrollbar:hover>.os-scrollbar-track>.os-scrollbar-handle{
  background-color: $card-hover-color;
}


.modal-main{
  .modal-content{
    background-color: $base-black;
    border: none;
  }
  .modal-header{
    border:none;
    color: $white;
    .modal-title{
      font-family: $montMedium;
      @extend .font-16;
    }
  }
  .close:not(:disabled),
  .close:not(.disabled),
  .close:focus{
    color: $white;
    opacity: 1;
    font-weight: unset;
    text-shadow: unset;
    outline: none;
  }
  .close:not(.disabled):hover{
    color: $base-blue;
  }
}


.modal-backdrop{
  background-color: $modal-backdrop;
}


.content-layouts{
  display: flex;
  justify-content: space-between;
  .layout{
    width: 30%;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    @media #{$breakpoint-xs}{
      height: 60px;
    }
    &:hover{
      span{
        background-color: $card-hover-color;
      }
    }
    span{
      transition: .2s;
      border-radius: 6px;
      background-color: $placeholder-color;
    }
    &.one{
      span{
        width: 100%;
        height: 100%;
      }
    }
    &.two{
      span{
        width: 48%;
        height: 100%;
      }
    }
    &.four{
      span{
        width: 48%;
        height: 45%;
      }
    }
    &.active{
      span{
        background-color: $base-blue;
      }
    }
  }
}


.position-modal{
  max-width: 360px;
}

