* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $fonts;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $montBold;
}
p {
  font-family: $fonts;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0 solid transparent;
}

ul {
  margin: 0;

  li {
    list-style: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}


input:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}
