---
layout: default
title: webtrader
---
<div class="trade-section" data-target="chart-section">
    <div class="chart-section">
        <div class="chart-layout one">
            <div class="trade-chart">
                <a href="#!" class="history-btn-sm" data-show="history-section"><i class="fas fa-history"></i>History</a>
                <div class="market-name-sm">
                    <div class="market-name-sm-ico">
                        <img src="https://static.expertoption.com/asset-icons/png/AUDNZD@2x.png" alt="">
                    </div>
                    <div class="market-name-sm-title">AUDNZD</div>
                </div>
                <div class="trade-chart__widget finance">
                    <div class="finance__market">
                        <div class="finance__market-name">
                            <div class="finance__market-ico">
                                <img src="https://static.expertoption.com/asset-icons/png/AUDNZD@2x.png" alt="">
                            </div>
                            <div class="finance__market-title">AUDNZD</div>
                        </div>
                        <div class="finance__market-data">
                            <div class="item">
                                <h5>Equity</h5>
                                <p>33.31</p>
                            </div>
                            <div class="item">
                                <h5>Free Margin</h5>
                                <p>-4.59 / 87.89 %</p>
                            </div>
                            <div class="item">
                                <h5>Profit/Loss</h5>
                                <p>-17.93</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="trade-chart__widget buy">
                    <form action="">
                        <div class="buy-sell">
                            <div class="amount">
                                <label>Amount</label>
                                <div class="amount__counter">
                                    <button type="button" class="amount__btn left mns">
                                        <i class="fal fa-minus"></i>
                                    </button>
                                    <input class="amount__input" type="text" type="number" min="0" max="1000" step="100" value="0" data-inc="10">
                                    <button type="button" class="amount__btn right pls">
                                        <i class="fal fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="middle btn-main trnsprnt" data-toggle="modal" data-target="#positionModal">Advanced</div>
                            <div class="btns mr-15">
                                <label>Sell</label>
                                <button class="btn-main rd">
                                    <i class="fas fa-chevron-down"></i>
                                </button>
                            </div>
                            <div class="btns">
                                <label>Buy</label>
                                <button class="btn-main grn">
                                    <i class="fas fa-chevron-up"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="chart">
                    chart goes here
                </div>
            </div>
        </div>
    </div>
</div>
<div class="trade-section" data-target="history-section">
    <div class="history-section">
        <div class="history-section__header">
            <ul class="nav history-section__nav" id="trade-table" role="tablist">
                <li class="nav-item">
                    <a href="#open-position" id="open-position-tab" class="nav-link active show" data-toggle="tab" area-controls="open-position" area-selected="true">
                        <i class="i-open-position"></i>
                        <span>Open position</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#pending-orders" id="pending-orders-tab" class="nav-link" data-toggle="tab" area-controls="pending-orders" area-selected="false">
                        <i class="i-pending-orders"></i>
                        <span>Pending orders</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#history" id="history-tab" class="nav-link" data-toggle="tab" area-controls="history" area-selected="false">
                        <i class="i-history"></i>
                        <span>History</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#journal" id="journal-tab" class="nav-link" data-toggle="tab" area-controls="journal" area-selected="false">
                        <i class="i-journal"></i>
                        <span>Journal</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content history-section__tab-content">
            <div class="tab-pane fade active show" id="open-position" role="tabpanel" area-labelledby="open-position-tab">
                <div class="trade-table__container">
                    <table class="trade-table">
                        <thead>
                        <tr>
                            <th>order</th>
                            <th>symbol</th>
                            <th>type</th>
                            <th>size</th>
                            <th>open price</th>
                            <th>open time</th>
                            <th>s/l</th>
                            <th>t/p</th>
                            <th>profit</th>
                            <th>swap</th>
                            <th>commission</th>
                            <th>taxes</th>
                            <th>close price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="trade-table__id">#3454</span></td>
                            <td>USD/EUR</td>
                            <td><span class="trade-table__btn red">Sell</span></td>
                            <td>0.01</td>
                            <td>56.64</td>
                            <td>12.04.2020 14:44:17</td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green">0.1</span></td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td><span class="trade-table__id">#3454</span></td>
                            <td>USD/EUR</td>
                            <td><span class="trade-table__btn green">Buy</span></td>
                            <td>0.01</td>
                            <td>56.64</td>
                            <td>12.04.2020 14:44:17</td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green">0.1</span></td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td><span class="trade-table__id">#3454</span></td>
                            <td>USD/EUR</td>
                            <td><span class="trade-table__btn red">Sell</span></td>
                            <td>0.01</td>
                            <td>56.64</td>
                            <td>12.04.2020 14:44:17</td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green">0.1</span></td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td><span class="trade-table__id">#3454</span></td>
                            <td>USD/EUR</td>
                            <td><span class="trade-table__btn green">Buy</span></td>
                            <td>0.01</td>
                            <td>56.64</td>
                            <td>12.04.2020 14:44:17</td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green">0.1</span></td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td><span class="trade-table__id">#3454</span></td>
                            <td>USD/EUR</td>
                            <td><span class="trade-table__btn red">Sell</span></td>
                            <td>0.01</td>
                            <td>56.64</td>
                            <td>12.04.2020 14:44:17</td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green">0.1</span></td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td><span class="trade-table__id">#3454</span></td>
                            <td>USD/EUR</td>
                            <td><span class="trade-table__btn green">Buy</span></td>
                            <td>0.01</td>
                            <td>56.64</td>
                            <td>12.04.2020 14:44:17</td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green">0.1</span></td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td><span class="trade-table__id">#3454</span></td>
                            <td>USD/EUR</td>
                            <td><span class="trade-table__btn red">Sell</span></td>
                            <td>0.01</td>
                            <td>56.64</td>
                            <td>12.04.2020 14:44:17</td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green">0.1</span></td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td><span class="trade-table__id">#3454</span></td>
                            <td>USD/EUR</td>
                            <td><span class="trade-table__btn green">Buy</span></td>
                            <td>0.01</td>
                            <td>56.64</td>
                            <td>12.04.2020 14:44:17</td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green">0.1</span></td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td><span class="trade-table__id">#3454</span></td>
                            <td>USD/EUR</td>
                            <td><span class="trade-table__btn red">Sell</span></td>
                            <td>0.01</td>
                            <td>56.64</td>
                            <td>12.04.2020 14:44:17</td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green">0.1</span></td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td><span class="trade-table__id">#3454</span></td>
                            <td>USD/EUR</td>
                            <td><span class="trade-table__btn green">Buy</span></td>
                            <td>0.01</td>
                            <td>56.64</td>
                            <td>12.04.2020 14:44:17</td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green">0.1</span></td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td><span class="trade-table__id">#3454</span></td>
                            <td>USD/EUR</td>
                            <td><span class="trade-table__btn red">Sell</span></td>
                            <td>0.01</td>
                            <td>56.64</td>
                            <td>12.04.2020 14:44:17</td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green">0.1</span></td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td><span class="trade-table__id">#3454</span></td>
                            <td>USD/EUR</td>
                            <td><span class="trade-table__btn green">Buy</span></td>
                            <td>0.01</td>
                            <td>56.64</td>
                            <td>12.04.2020 14:44:17</td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green">0.1</span></td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="pending-orders" role="tabpanel" area-labelledby="pending-orders-tab">
                <div class="trade-table__container">
                    <table class="trade-table">
                        <thead>
                        <tr>
                            <th>order</th>
                            <th>symbol</th>
                            <th>type</th>
                            <th>size</th>
                            <th>open price</th>
                            <th>open time</th>
                            <th>s/l</th>
                            <th>t/p</th>
                            <th>profit</th>
                            <th>swap</th>
                            <th>commission</th>
                            <th>taxes</th>
                            <th>close price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="trade-table__id">#3454</span></td>
                            <td>USD/EUR</td>
                            <td><span class="trade-table__btn red">Sell</span></td>
                            <td>0.01</td>
                            <td>56.64</td>
                            <td>12.04.2020 14:44:17</td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green">0.1</span></td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="history" role="tabpanel" area-labelledby="history-tab">
                <div class="trade-table__container">
                    <table class="trade-table">
                        <thead>
                        <tr>
                            <th>order</th>
                            <th>symbol</th>
                            <th>type</th>
                            <th>size</th>
                            <th>open price</th>
                            <th>open time</th>
                            <th>s/l</th>
                            <th>t/p</th>
                            <th>profit</th>
                            <th>swap</th>
                            <th>commission</th>
                            <th>taxes</th>
                            <th>close price</th>
                            <th>comment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="trade-table__id">#3454</span></td>
                            <td>USD/EUR</td>
                            <td><span class="trade-table__btn red">Sell</span></td>
                            <td>0.01</td>
                            <td>56.64</td>
                            <td>12.04.2020 14:44:17</td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green">0.1</span></td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td><span class="trade-table__id">#3454</span></td>
                            <td>USD/EUR</td>
                            <td><span class="trade-table__btn green">Buy</span></td>
                            <td>0.01</td>
                            <td>56.64</td>
                            <td>12.04.2020 14:44:17</td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green">0.1</span></td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td><span class="trade-table__id">#3454</span></td>
                            <td>USD/EUR</td>
                            <td><span class="trade-table__btn red">Sell</span></td>
                            <td>0.01</td>
                            <td>56.64</td>
                            <td>12.04.2020 14:44:17</td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green"><i class="far fa-check"></i></span></td>
                            <td><span class="t-green">0.1</span></td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="journal" role="tabpanel" area-labelledby="journal-tab">
                <div class="trade-table__container">
                    <table class="trade-table">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Source</th>
                            <th>Message</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>04 Jun 18:40:654 GMT+04:00</td>
                            <td>Network</td>
                            <td>Error: An unexpected error occurred invoking 'GetGroupSymbols' on the server.</td>
                        </tr>
                        <tr>
                            <td>04 Jun 18:40:614 GMT+04:00</td>
                            <td>Server</td>
                            <td>Connection estabilished with Server</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


