.hamburger{
  display: none;
  position: absolute;
  z-index: 1001;
  right: 15px;
  @media #{$breakpoint-md}{
    display: block;
  }
}
.logo-sm{
  display: none;
  height: 48px;
  img{
    height: 100%;
    width: auto;
  }
  @media #{$breakpoint-md}{
    display: inline-block;
  }
}
.back-btn{
  display: none;
}
.back{
  .back-btn{
    display: none;
    color: $white;
    cursor: pointer;
    justify-content: center;
    line-height: 1;
    height: 20px;
    width: 20px;
    font-size: 22px;
    @media #{$breakpoint-md}{
      display: flex;
    }
  }
  .logo-sm{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.chevron-down{
  font-family: "Font Awesome 5 Pro";
  content: "\f078";
  vertical-align: middle;
  position: absolute;
  right: 5px;
  top: 50%;
  color: $white;
  transform: translateY(-50%) rotate(0deg);
  @extend .font-13;
}
.trade-nav {
  width: calc(100% - 30px);
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  border-radius: 6px;
  background-color: $base-black;
  padding: 10px 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 100;
  align-items: center;
  @media #{$breakpoint-xl}{
    justify-content: flex-end;
  }
  @media #{$breakpoint-lg}{
    height: 50px;
    width: calc(100% - 20px);
  }
  @media #{$breakpoint-md}{
    position: relative;
    justify-content: flex-start;
    padding: 6px 15px;
    width: 100%;
    top: 0;
    border-radius: 0;
    height: 60px;
    min-height: 60px;
  }
  &__left{
    display: flex;
    align-items: center;
    @media #{$breakpoint-xl}{
      display: none;
    }
    .layout-btn{
      color: $base-btn-color;
      position: relative;
      width: 26px;
      height: 26px;
      transition: .2s;
      cursor: pointer;
      margin-right: 18px;
      i{
        width: 100%;
        height: 100%;
        font-size: 26px;
      }
      &:hover{
        color: $base-blue;
      }
    }
  }
  &__right{
    display: flex;
    align-items: center;
  }
  &__items{
    display: flex;
    align-items: center;
    @media #{$breakpoint-md}{
      display: flex;
      position: relative;
      flex-direction: column-reverse;
      width: 100%;
      align-items: flex-start;
    }
  }
  &__cards{
    display: flex;
  }
  &__card{
    background-color: $placeholder-color;
    margin-right: 6px;
    padding: 8px 12px;
    border-radius: 6px;
    position: relative;
    display: flex;
    align-items: center;
    transition: .2s;
    border: 1px solid $placeholder-color;
    cursor: pointer;
    &.active{
      border-color: $base-blue;
      &:hover{
        background-color: $placeholder-color;
      }
    }
    &:hover{
      background-color: $card-hover-color;
    }
    &-ico{
      width: 30px;
      height: 30px;
      min-width: 30px;
      min-height: 30px;
      border-radius: 50%;
      img{
        @extend .cover-img;
      }
    }
    &-info{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 8px;
      h2{
        @extend .font-13;
        color: $white;
        margin: 0;
        font-family: $montMedium;
      }
      .type{
        @extend .font-12;
        color: $card-grey-text;
      }
    }
    .cls{
      position: absolute;
      top: 2px;
      left: 3px;
      color: $white;
      font-size: 12px;
      cursor: pointer;
    }
  }
  .add-card-btn{
    color: $base-blue;
    font-size: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    i{
      width: 100%;
      height: 100%;
    }
  }
}
.balance{
  position: relative;
  &.active{
    .balance__btn{
      &::before{
        color: $base-blue;
      }
    }
    .balance__deposit{
      opacity: 1;
      visibility: visible;
    }
  }
  &__btn{
    color: $base-blue;
    font-family: $montBold;
    position: relative;
    padding: 8px 25px 8px 2px;
    cursor: pointer;
    white-space: nowrap;
    @media #{$breakpoint-lg}{
      padding: 2px 25px 2px 2px;
    }
    &::before{
      @extend .chevron-down;
    }
    @extend .font-14;
    i{
      font-style: normal;
    }
  }
  &__deposit{
    @extend .font-13;
    position: absolute;
    top: 100%;
    padding: 5px 24px 5px 6px;
    background-color: $base-blue;
    color: $white;
    border-radius: 6px;
    display: block;
    width: 100%;
    transition: .2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    &:hover{
      background-color: $dark-blue;
      color: $white;
    }
    i{
      width: 18px;
      height: 18px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: $dark-blue;
      position: absolute;
      right: 5px;
      font-size: 9px;
      line-height: 18px;
      text-align: center;
    }
  }
}
.user{
  position: relative;
  margin: 0 18px;
  &.active{
    .user__btn{
      &::before{
        color: $base-blue;
      }
    }
    .user__dropdown{
      opacity: 1;
      visibility: visible;
    }
  }
  &__btn{
    color: $title-grey;
    cursor: pointer;
    @extend .font-14;
    .avatar{
      width: 36px;
      height: 36px;
      border-radius: 50%;
      margin-right: 10px;
      @media #{$breakpoint-lg}{
        //responsive here
        width: 25px;
        height: 25px;
      }
      img{
        @extend .cover-img;
      }
    }
    display: flex;
    align-items: center;
    padding-right: 25px;
    &::before{
      @extend .chevron-down;
    }
  }
  &__dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 100%;
    margin-top: 10px;
    padding: 6px 0;
    border-radius: 6px;
    background-color: #1a1d33;
    border: 1px solid #22a6fe;
    transition: .2s;
    opacity: 0;
    visibility: hidden;
    a{
      color: $white;
      white-space: nowrap;
      @extend .font-13;
      padding: 8px 15px;
      display: block;
      transition: .2s;
      i{
        margin-right: 5px;
      }
      &:hover{
        color: $base-blue;
      }
    }
  }
}
.lang{
  position: relative;
  border-radius: 6px;
  @extend .font-12;
  text-align: center;
  font-family: $montMedium;
  &.active{
    margin-top: -1px;
    .lang__btn{
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: $placeholder-color;
      border-bottom: none;
      color: $base-blue;
      border-color: $base-blue;
    }
    .lang__dropdown{
      border-color: $base-blue;
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      display: block;
    }
  }
  &__btn{
    padding:4px 6px;
    border-radius: 6px;
    border: 1px solid $base-btn-color;
    color: $white;
    user-select: none;
    cursor: pointer;
  }
  &__dropdown{
    position: absolute;
    width: 100%;
    border-radius: 6px;
    border: 1px solid $base-btn-color;
    background-color: $placeholder-color;
    display: none;
    a{
      padding: 4px 6px;
      display: block;
      color: $white;
      transition: .2s;
      &:hover{
        color: $base-blue;
      }
    }
  }
}

@media #{$breakpoint-md}{
  .mobile-sidebar{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    z-index: 1000;
    background-color: $bg-color;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 15px 15px 15px;
    transition: .2s;
    width: 95%;
    max-width: 320px;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    &.active{
      transform:translateX(0);
      visibility: visible;
      opacity: 1;
    }
    .balance{
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 20px;
      flex-direction: column;
      &__btn{
        padding: 0;
        margin-bottom: 10px;
        font-size: 18px;
        &::before{
          display: none;
        }
      }
      &__deposit{
        position: relative;
        visibility: visible;
        opacity: 1;
        top: unset;
        padding: 8px 15px;
        font-size: 15px;
        i{
          width: 28px;
          height: 28px;
          font-size: 12px;
          line-height: 28px;
        }
      }
    }
    .user{
      margin: 0;
      width: 100%;
      &__btn{
        font-size: 18px;
        line-height: 1;
        color: $white;
        .avatar{
          width: 45px;
          height: 45px;
        }

        &::before{
          display: none;
        }
      }
      &__dropdown{
        visibility: visible;
        opacity: 1;
        position: relative;
        top: unset;
        border:none;
        padding: 0;
        margin-top: 30px;
        a{
          padding: 8px 15px;
          font-size: 15px;
        }
        .log-out{
          display: none;
        }
      }
    }
    .lang{
      position: absolute;
      right: 0;
      top: 10px;
      &.active{
        margin-top: 0;
      }
    }
  }
  .history-section__nav{
    display: none;
  }
}

.mobile-finance{
  display: none;
  width: 100%;
  ul{
    width: 100%;
    color: $white;
    h5{
      color: $title-grey;
      margin-bottom: 5px;
      font-size: 13px;
    }
    p{
      color: $base-blue;
      font-size: 15px;
    }
    .log-out-sm{
      padding-top: 20px;
      a{
        display: block;
        border-radius: 6px;
        text-align: center;
        font-size: 15px;
        color: $white;
        background-color: $placeholder-color;
        padding: 8px 15px;
        transition: .2s;
        &:hover{
          background-color: $base-red;
        }
      }
    }
  }
  @media #{$breakpoint-md}{
    display: flex;
    flex-direction: column;
  }
}

