@import "../theme/hamburger";

.sidebar {
  height: 100%;
  max-width: 360px;
  background-color: $base-black;
  display: flex;
  position: relative;
  width: 70px;
  transition: .2s;
  z-index: 100;
  @media #{$breakpoint-lg}{
    width: 60px;
    max-width: 320px;
  }
  @media #{$breakpoint-md}{
    position: fixed;
    width: 100%;
    max-width: unset;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 102;
    background-color: $modal-backdrop;
    display: none;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    width: 70px;
    min-width: 70px;
    @media #{$breakpoint-lg}{
      width: 60px;
      min-width: 60px;
    }
    @media #{$breakpoint-md}{
      display: none;
    }
    .logo {
      padding: 0px 5px;
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 10px 0 40px 0;

      img {
        width: 100%;
      }
    }
  }

  &__list {
    text-align: center;
    overflow-y: auto;
    a {
      position: relative;
      color: $title-grey;
      display: flex;
      flex-direction: column;
      padding: 5px;
      margin-bottom: 25px;
      transition: .2s;
      width: 100%;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 0;
        width: 4px;
        background-color: $base-blue;
        transition: .1s;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        opacity: 0;
        visibility: hidden;
      }

      i {
        color: $base-btn-color;
        font-size: 20px;
        margin-bottom: 5px;
        transition: .2s;
      }

      span {
        @extend .font-12;
        @media #{$breakpoint-lg}{
          font-size: 10px;
        }
      }

      &:hover{
        color: $white;
        i{
          color: $white;
        }
      }
      &.active {
        color: $white;
        i {
          color: $base-blue;
        }

        &::after {
          height: 100%;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &.active{
    .market{
      width: 100%;
      opacity: 1;
      visibility: visible;
    }
  }
}

.market {
  overflow: hidden;
  width: 0;
  border-left: 1px solid $placeholder-color;
  transition: .2s;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  background-color: $base-black;
  .mobile-cls{
    display: none;
    color: $white;
    cursor: pointer;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
    padding: 7px 5px;
    width: 30px;
    text-align: center;
  }
  @media #{$breakpoint-md}{
    position: relative;
    width: 95%;
    height: 95%;
    max-width: 340px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border:1px solid $base-blue;
    border-radius: 6px;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    .market-wrapper{
      padding-top: 40px;
    }
    .mobile-cls{
      display: block;
    }
  }
  &-wrapper{
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__search{
    @extend .mb-15;
    &-form{
      position: relative;
      width: 100%;
      &:focus-within{
        i{
          transform: translateY(-50%) scale(0);
        }
        input{
          padding-left: 8px;
        }
      }
      i{
        position: absolute;
        color: $base-btn-color;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        transition: .2s;
      }
      input{
        width: 100%;
        background-color: $placeholder-color;
        border:1px solid $placeholder-color;
        border-radius: 6px;
        color: $white;
        padding: 8px 8px 8px 36px;
        transition: .2s;
        &:focus{
          border-color: $base-blue;
        }
        @extend .font-15;
        &::placeholder{
          color: $base-btn-color;
        }
      }
    }
  }
  &__sort{
    h6{
      margin: 0;
    }
    @extend .mb-15;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: $white;
    position: relative;
    z-index: 10;
    @extend .font-15;
    &-dropdown{
      position: relative;
      background-color: $placeholder-color;
      border-radius: 20px;
      cursor: pointer;
      max-width: 60%;
      transition: .2s;
      @extend .font-14;
      &::before{
        font-family: "Font Awesome 5 Pro";
        content: "\f078";
        vertical-align: middle;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        @extend .font-13;
      }
      &.active{
        background-color: $base-blue;
        &::before{
          transform: translateY(-50%) rotate(180deg);
        }
        .market__sort-list{
          display: block;
        }
      }
      &:hover{
        background-color: $base-blue;
      }
    }
    &-label{
      font-family: $montMedium;
      white-space: nowrap;
      overflow: hidden;
      text-overflow:ellipsis;
      padding: 5px 30px 5px 14px;
      user-select: none;
      position: relative;
    }
    &-list{
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: 5px;
      border-radius: 6px;
      font-family: $montRegular;
      padding: 10px 0;
      border-radius: 6px;
      background-color: $placeholder-color;
      border: 1px solid $base-blue;
      display: none;
      span{
        display: block;
        padding: 3px 15px;
        transition: .2s;
        @extend .font-13;
        &:hover{
          color: $base-blue;
        }
      }
    }
  }
  &__list {
    height: 100%;
    overflow: hidden;
    &-card{
      padding: 5px;
      border-radius: 6px;
      border: 1px solid $placeholder-color;
      background-color: $placeholder-color;
      transition: .2s;
      display: block;
      display: flex;
      align-items: center;
      width: 100%;
      transition: .2s;
      cursor: pointer;
      &__ico{
        width: 34px;
        height: 34px;
        min-width: 34px;
        min-height: 34px;
        border-radius: 50%;
        background-color: $bg-color;
        margin-right: 5px;
        img{
          @extend .cover-img;
        }
      }
      &:hover{
        background-color: $card-hover-color;
      }
      &.active{
        border-color: $base-blue;
        box-shadow: $active-card-shadow;
        &:hover{
          background-color: $placeholder-color;
        }
      }
      @extend .mb-15;
      &__info{
        width: 100%;
      }
      &__title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        h2{
          text-transform: uppercase;
          color: $white;
          margin-right: 10px;
          margin-bottom: 0;
          line-height: 24px;
          @extend .font-15;
          font-family: $montMedium;
        }
        .arrow{
          font-size: 14px;
          position: relative;
          width: 20px;
          height: 20px;
          font-weight: 900;
          font-family: Font Awesome\ 5 Pro;
          &::before{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            vertical-align: middle;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 20px;
          }
          &.down{
            &::before{
              content: "\f0dd";
              color: $base-red;
              line-height: 10px;
            }
          }
          &.up{
            &::before{
              content: "\f0de";
              color: $base-green;
              line-height: 28px;
            }
          }
        }
      }
      &__favorite{
        cursor: pointer;
        width: 14px;
        height: 14px;
        font-family: Font Awesome\ 5 Pro;
        position: relative;
        margin-top: 2px;
        &.active{
          &::before{
            font-weight: 900;
            color: $base-blue;
          }
        }
        &::before{
          content: "\f005";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          vertical-align: middle;
          color: $base-btn-color;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 14px;
          line-height: 1;
        }
      }
      .bid-ask{
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
        @extend .font-14;
        span{
          color: $card-grey-text;
          &:nth-child(2){
            color: $white;
          }
        }
      }
    }
  }
}
