.trade {
  position: relative;
  height: 100vh;
  background-color: $bg-color;
  display: flex;
  width: 100%;
  overflow: hidden;

  &-container {
    width: calc(100% - 70px);
    height: 100%;
    transition: .2s;
    position: relative;
    @media #{$breakpoint-lg}{
      width: calc(100% - 60px);
    }
    @media #{$breakpoint-md}{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &-content {
    height: 100%;
    padding: 95px 15px 15px 15px;
    position: relative;
    @media #{$breakpoint-lg}{
      padding: 70px 10px 10px;
    }
    @media #{$breakpoint-md}{
      padding: 0;
    }
  }
}

//history tables section
.history-section {
  height: 100%;
  border-radius: 6px;
  background-color: $base-black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &__header {
    padding-bottom: 15px;
  }

  &__tab-content {
    height: 100%;

    .tab-pane {
      height: 100%;
    }
  }

  &__nav {
    background-color: $placeholder-color;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    padding: 15px;
    @media #{$breakpoint-md}{
      width: 100%;
      padding: 0px 10px;
      flex-wrap: nowrap;
      align-items: flex-start;
    }

    .nav-link {
      padding: 5px 10px;
      color: $white;
      font-family: $montBold;
      transition: .2s;
      @extend .font-14;

      &:hover {
        color: $title-grey;
      }

      &.active {
        color: $base-blue;
      }

      @media #{$breakpoint-md}{
        padding: 10px 5px;
        font-size: 12px;
        text-align: center;
        i{
          display: none;
        }
      }
    }
  }
}

.trade-table {
  width: 100%;

  &__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  thead {
    border-bottom: 1px solid $base-btn-color;

    th {
      padding: 0px 8px 10px 8px;
      text-transform: uppercase;
      color: $title-grey;
      white-space: nowrap;
      @extend .font-14;
    }
  }

  tbody {
    td {
      color: $white;
      padding: 10px 8px;
      @extend .font-13;
      border-bottom: 1px solid $base-btn-color;
    }
  }

  &__btn {
    padding: 3px 10px;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;

    &.red {
      background-color: $base-red;
    }

    &.green {
      background-color: $base-green;
    }
  }
}

//history tables section ends

//chart section
.chart-section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.chart-layout {
  position: relative;
  width: 100%;
  height: 100%;

  .trade-chart {
    position: absolute;
    border-radius: 6px;
    background-color: $placeholder-color;
    overflow: hidden;
    @media #{$breakpoint-md}{
      padding-bottom: 170px;
    }

    .chart {
      width: 100%;
      height: 100%;
      position: relative;
    }

    &__widget {
      position: absolute;
      background-color: $card-transparent;
      border: 1px solid $base-btn-color;
      border-radius: 4px;
      padding: 10px;
      z-index: 10;

      &.finance {
        padding: 0;
        top: 10px;
        right: 10px;
        @media #{$breakpoint-md}{
          display: none;
        }

        .finance__market {
          &-name {
            display: flex;
            align-items: center;
            line-height: 1;
            padding: 6px 15px;
            border-bottom: 1px solid $base-btn-color;
          }

          &-ico {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            margin-right: 5px;

            img {
              @extend .cover-img;
            }
          }

          &-title {
            color: $white;
            font-family: $montBold;
            @extend .font-12;
          }

          &-data {
            display: flex;
            justify-content: space-between;

            .item {
              padding: 6px 15px;

              p {
                margin: 0;
                color: $white;
                @extend .font-13;
              }

              h5 {
                color: $title-grey;
                margin-bottom: 5px;
                @extend .font-12;
              }
            }
          }
        }
      }

      &.buy {
        padding: 6px 15px;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        max-width: calc(100% - 30px);
        @media #{$breakpoint-md}{
          width: 100%;
          max-width: 100%;
          border-radius: 0;
          border: none;
          bottom: 0;
          height: 170px;
          background-color: $bg-color;
        }

        .btn-main {
          font-size: 12px;
          &:not(.middle){
            @media #{$breakpoint-md}{
              padding: 18px 30px!important;
            }
          }
        }

        .amount {
          &__counter {
            display: flex;
          }

          &__btn {
            display: inline-block;
            width: 40px;
            min-width: 40px;
            background-color: $base-btn-color;
            color: $white;
            text-align: center;
            line-height: 35px;
            transition: .2s;
            cursor: pointer;
            border: none;
            outline: none !important;

            &:hover {
              background-color: $card-hover-color;
            }

            &.left {
              border-top-left-radius: 6px;
              border-bottom-left-radius: 6px;
            }

            &.right {
              border-top-right-radius: 6px;
              border-bottom-right-radius: 6px;
            }
          }

          &__input {
            border-radius: 0;
            text-align: center;
            width: 100%;
            max-width: 70px;
            min-width: 40px;
            background-color: $placeholder-color;
            border: 1px solid $placeholder-color;
            color: $white;
            padding: 6px;
            transition: .2s;
            @extend .font-14;

            &:focus {
              border-color: $base-blue;
            }

            @extend .font-15;

            &::placeholder {
              color: $base-btn-color;
            }
          }
        }

        label {
          display: block;
          font-size: 11px;
          margin-bottom: 5px;
          color: $label-color;
          @media #{$breakpoint-md}{
            display: none;
          }
        }

        .buy-sell {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          @media #{$breakpoint-md}{
            flex-wrap: wrap;
            .btns {
              margin-right: 0 !important;
              width: 46%;

              .btn-main {
                width: 100%;
              }
            }
            .amount {
              width: 100%;

              &__counter {
                justify-content: space-between;

                input {
                  max-width: unset;
                }
              }
            }
          }

          .middle {
            margin-left: 15px;
            margin-right: 15px;
            padding-left: 10px;
            padding-right: 10px;
            min-width: 100px;
            @media #{$breakpoint-md}{
              width: 100%;
              margin: 10px 0;
            }
          }
        }
      }
    }
  }


  &.one {
    .trade-chart {
      left: 0;
      width: 100%;
      height: 100%;
      top: 0;
    }
  }

  &.two {
    .trade-chart {
      width: calc(50% - 7px);
      height: 100%;

      &:first-child {
        left: 0;
      }

      &:last-child {
        right: 0;
      }
    }

    .trade-chart__widget {
      &.buy {
        .btn-main {
          padding: 8px 20px;
          font-size: 10px;

          &.middle {
            min-width: 80px;
            padding: 8px 0;
            font-size: 10px;
          }
        }

        .amount__btn {
          min-width: 30px;
          width: 30px;
          line-height: 32px;
        }

        .amount__input {
          padding: 2px;
        }
      }
    }
  }

  &.four {
    .trade-chart {
      width: calc(50% - 7px);
      height: calc(50% - 7px);

      &:nth-child(1) {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: 0;
        right: 0;
      }

      &:nth-child(3) {
        bottom: 0;
        left: 0;
      }

      &:nth-child(4) {
        bottom: 0;
        right: 0;
      }
    }

    .trade-chart__widget {
      &.buy {
        .btn-main {
          padding: 8px 20px;
          font-size: 10px;

          &.middle {
            min-width: 80px;
            padding: 8px 0;
            font-size: 10px;
          }
        }

        .amount__btn {
          min-width: 30px;
          width: 30px;
          line-height: 32px;
        }

        .amount__input {
          padding: 2px;
        }
      }
    }
  }

  @media #{$breakpoint-xl}{
    .trade-chart__widget {
      &.buy {
        .btn-main {
          padding: 8px 30px;
          font-size: 10px;
          &.middle {
            min-width: 80px;
            padding: 8px 0;
            font-size: 10px;
          }
        }

        .amount__btn {
          min-width: 30px;
          width: 30px;
          line-height: 32px;
        }

        .amount__input {
          padding: 2px;
        }
      }
    }
  }
}

//chart section ends


//sidebar active actions
.trade {
  &.active {
    .sidebar {
      width: 100%;
      @media #{$breakpoint-md}{
        display: flex;
      }

      .market {
        width: 95%;
        opacity: 1;
        visibility: visible;
      }

      .market-btn {
        color: $white;

        i {
          color: $base-blue;
        }

        &::after {
          visibility: visible;
          opacity: 1;
          height: 100%;
        }
      }
    }

    .trade-container {
      width: calc(100% - 360px);
      @media #{$breakpoint-lg}{
        width: calc(100% - 320px);
      }
      @media #{$breakpoint-md}{
        width: 100%;
      }
    }
  }
}

.trade-section {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
}

.market-name-sm {
  align-items: center;
  line-height: 1;
  padding: 4px 26px 4px 10px;
  cursor: pointer;
  border-radius: 6px;
  background-color: $base-blue;
  position: absolute;
  display: none;
  z-index: 10;
  top: 10px;
  right: 10px;
  @media #{$breakpoint-md}{
    display: flex;
  }

  &::before {
    font-family: Font Awesome\ 5 Pro;
    content: "\f304";
    vertical-align: middle;
    position: absolute;
    right: 6px;
    font-size: 10px;
    top: 50%;
    color: #fff;
    font-weight: 900;
    transform: translateY(-50%) rotate(0deg);
  }

  &-ico {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 5px;

    img {
      @extend .cover-img;
    }
  }

  &-title {
    color: $white;
    font-family: $montBold;
    @extend .font-13;
  }
}

.history-btn-sm {
  display: none;
  position: absolute;
  align-items: center;
  left: 10px;
  top: 10px;
  padding: 6px 15px;
  border-radius: 6px;
  background-color: $base-black;
  border: 1px solid $base-blue;
  z-index: 10;
  font-size: 13px;
  text-align: center;
  color: $white;
  cursor: pointer;
  line-height: 1;

  &:hover {
    color: $white;
  }

  i {
    margin-right: 5px;
  }

  @media #{$breakpoint-md}{
    display: inline-flex;
  }
}
