<nav class="trade-nav">
    <!--   only on small screens-->
    <div class="back-btn">
        <i class="fal fa-long-arrow-left"></i>
    </div>
    <a href="#!" class="logo-sm">
        <img src="assets/img/logo.svg" alt="">
    </a>
    <div class="hamburger">
        <div class="menu"></div>
    </div>
    <!--  only on small screens ends-->
    <div class="trade-nav__left">
        <div class="layout-btn" data-toggle="modal" data-target="#layoutModal">
            <i class="fas fa-columns"></i>
        </div>
        <div class="trade-nav__cards">
            <div class="trade-nav__card active">
                <div class="cls">
                    <i class="far fa-times"></i>
                </div>
                <div class="trade-nav__card-ico">
                    <img src="https://static.expertoption.com/asset-icons/png/EURUSD@2x.png" alt="">
                </div>
                <div class="trade-nav__card-info">
                    <h2>EURUSD</h2>
                    <div class="type">Currencies</div>
                </div>
            </div>
            <div class="trade-nav__card">
                <div class="cls">
                    <i class="far fa-times"></i>
                </div>
                <div class="trade-nav__card-ico">
                    <img src="https://static.expertoption.com/asset-icons/png/AUDNZD@2x.png" alt="">
                </div>
                <div class="trade-nav__card-info">
                    <h2>AUDNZD</h2>
                    <div class="type">Currencies</div>
                </div>
            </div>
            <div class="trade-nav__card">
                <div class="cls">
                    <i class="far fa-times"></i>
                </div>
                <div class="trade-nav__card-ico">
                    <img src="https://static.expertoption.com/asset-icons/png/AUDNZD@2x.png" alt="">
                </div>
                <div class="trade-nav__card-info">
                    <h2>AUDNZD</h2>
                    <div class="type">Currencies</div>
                </div>
            </div>
            <div class="trade-nav__card">
                <div class="cls">
                    <i class="far fa-times"></i>
                </div>
                <div class="trade-nav__card-ico">
                    <img src="https://static.expertoption.com/asset-icons/png/EURUSD@2x.png" alt="">
                </div>
                <div class="trade-nav__card-info">
                    <h2>EURUSD</h2>
                    <div class="type">Currencies</div>
                </div>
            </div>
        </div>
        <div class="add-card-btn">
            <i class="far fa-plus"></i>
        </div>
    </div>
    <div class="trade-nav__right mobile-sidebar">
        <div class="trade-nav__items">
            <div class="balance">
                <div class="balance__btn">
                    <i class="currency">$</i>
                    <span>23,3432</span>
                </div>
                <a href="#!" class="balance__deposit">
                    Deposit
                    <i class="far fa-chevron-right"></i>
                </a>
            </div>
            <div class="user">
                <div class="user__btn">
                    <div class="avatar">
                        <img src="assets/img/avatar.svg" alt="">
                    </div>
                    <span>7332</span>
                </div>
                <ul class="user__dropdown">
                    <li>
                        <a href="#!"><i class="fas fa-user"></i>Client zone</a>
                    </li>
                    <li class="log-out">
                        <a href="#!"><i class="fas fa-sign-out"></i>Log out</a>
                    </li>
                </ul>
            </div>
            <div class="lang">
                <div class="lang__btn">ENG</div>
                <ul class="lang__dropdown">
                    <li>
                        <a href="#!">DE</a>
                    </li>
                    <li>
                        <a href="#!">RU</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mobile-finance">
            <ul>
                <li>
                    <h5>Equity</h5>
                    <p>33.31</p>
                </li>
                <li>
                    <h5>Free Margin</h5>
                    <p>-4.59 / 87.89 %</p>
                </li>
                <li>
                    <h5>Profit/Loss</h5>
                    <p>-17.93</p>
                </li>
                <li class="log-out-sm">
                    <a href="#!">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
