<div class="sidebar">
    <div class="sidebar__nav">
        <a href="#!" class="logo">
            <img src="assets/img/logo.svg" alt="">
        </a>
        <ul class="sidebar__list">
            <li>
                <a href="#!" data-show="chart-section">
                    <i class="fas fa-wave-sine"></i>
                    <span>Trade</span>
                </a>
            </li>
            <li>
                <a href="#!" class="market-btn">
                    <i class="fas fa-th-list"></i>
                    <span>Markets</span>
                </a>
            </li>
            <li>
                <a href="#!" data-show="history-section">
                    <i class="fas fa-history"></i>
                    <span>History</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="market">
        <div class="market-wrapper">
            <div class="mobile-cls"><i class="far fa-times"></i></div>
            <div class="market__search">
                <form action="">
                    <div class="market__search-form">
                        <i class="far fa-search"></i>
                        <input type="text" placeholder="Search">
                    </div>
                </form>
            </div>
            <div class="market__sort">
                <h6>Markets</h6>
                <div class="market__sort-dropdown">
                    <div class="market__sort-label market__sort-placeholder">All</div>
                    <ul class="market__sort-list">
                        <li><span>All</span></li>
                        <li><span>Favorites</span></li>
                        <li><span>Major</span></li>
                        <li><span>Commodities</span></li>
                        <li><span>Others</span></li>
                    </ul>
                </div>
            </div>
            <div class="market__list">
                <div class="market__list-card active">
                    <div class="market__list-card__ico">
                        <img src="https://static.expertoption.com/asset-icons/png/EURUSD@2x.png" alt="">
                    </div>
                    <div class="market__list-card__info">
                        <div class="market__list-card__title">
                            <div class="market__list-card__item">
                                <div class="d-flex align-items-center">
                                    <h2>EURUSD</h2>
                                    <div class="arrow down"></div>
                                </div>
                            </div>
                            <div class="market__list-card__favorite"></div>
                        </div>
                        <div class="bid-ask">
                            <div class="bid">
                                <span>Bid: </span>
                                <span>1.11941</span>
                            </div>
                            <div class="ask">
                                <span>Ask: </span>
                                <span>1.11941</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market__list-card">
                    <div class="market__list-card__ico">
                        <img src="https://static.expertoption.com/asset-icons/png/AUDNZD@2x.png" alt="">
                    </div>
                    <div class="market__list-card__info">
                        <div class="market__list-card__title">
                            <div class="market__list-card__item">
                                <div class="d-flex align-items-center">
                                    <h2>AUDNZD</h2>
                                    <div class="arrow up"></div>
                                </div>
                            </div>
                            <div class="market__list-card__favorite"></div>
                        </div>
                        <div class="bid-ask">
                            <div class="bid">
                                <span>Bid: </span>
                                <span>1.07721</span>
                            </div>
                            <div class="ask">
                                <span>Ask: </span>
                                <span>1.07740</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market__list-card">
                    <div class="market__list-card__ico">
                        <img src="https://static.expertoption.com/asset-icons/png/EURUSD@2x.png" alt="">
                    </div>
                    <div class="market__list-card__info">
                        <div class="market__list-card__title">
                            <div class="market__list-card__item">
                                <div class="d-flex align-items-center">
                                    <h2>EURUSD</h2>
                                    <div class="arrow down"></div>
                                </div>
                            </div>
                            <div class="market__list-card__favorite"></div>
                        </div>
                        <div class="bid-ask">
                            <div class="bid">
                                <span>Bid: </span>
                                <span>1.11941</span>
                            </div>
                            <div class="ask">
                                <span>Ask: </span>
                                <span>1.11941</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market__list-card">
                    <div class="market__list-card__ico">
                        <img src="https://static.expertoption.com/asset-icons/png/AUDNZD@2x.png" alt="">
                    </div>
                    <div class="market__list-card__info">
                        <div class="market__list-card__title">
                            <div class="market__list-card__item">
                                <div class="d-flex align-items-center">
                                    <h2>AUDNZD</h2>
                                    <div class="arrow up"></div>
                                </div>
                            </div>
                            <div class="market__list-card__favorite"></div>
                        </div>
                        <div class="bid-ask">
                            <div class="bid">
                                <span>Bid: </span>
                                <span>1.07721</span>
                            </div>
                            <div class="ask">
                                <span>Ask: </span>
                                <span>1.07740</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market__list-card">
                    <div class="market__list-card__ico">
                        <img src="https://static.expertoption.com/asset-icons/png/EURUSD@2x.png" alt="">
                    </div>
                    <div class="market__list-card__info">
                        <div class="market__list-card__title">
                            <div class="market__list-card__item">
                                <div class="d-flex align-items-center">
                                    <h2>EURUSD</h2>
                                    <div class="arrow down"></div>
                                </div>
                            </div>
                            <div class="market__list-card__favorite"></div>
                        </div>
                        <div class="bid-ask">
                            <div class="bid">
                                <span>Bid: </span>
                                <span>1.11941</span>
                            </div>
                            <div class="ask">
                                <span>Ask: </span>
                                <span>1.11941</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market__list-card">
                    <div class="market__list-card__ico">
                        <img src="https://static.expertoption.com/asset-icons/png/AUDNZD@2x.png" alt="">
                    </div>
                    <div class="market__list-card__info">
                        <div class="market__list-card__title">
                            <div class="market__list-card__item">
                                <div class="d-flex align-items-center">
                                    <h2>AUDNZD</h2>
                                    <div class="arrow up"></div>
                                </div>
                            </div>
                            <div class="market__list-card__favorite"></div>
                        </div>
                        <div class="bid-ask">
                            <div class="bid">
                                <span>Bid: </span>
                                <span>1.07721</span>
                            </div>
                            <div class="ask">
                                <span>Ask: </span>
                                <span>1.07740</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market__list-card">
                    <div class="market__list-card__ico">
                        <img src="https://static.expertoption.com/asset-icons/png/EURUSD@2x.png" alt="">
                    </div>
                    <div class="market__list-card__info">
                        <div class="market__list-card__title">
                            <div class="market__list-card__item">
                                <div class="d-flex align-items-center">
                                    <h2>EURUSD</h2>
                                    <div class="arrow down"></div>
                                </div>
                            </div>
                            <div class="market__list-card__favorite"></div>
                        </div>
                        <div class="bid-ask">
                            <div class="bid">
                                <span>Bid: </span>
                                <span>1.11941</span>
                            </div>
                            <div class="ask">
                                <span>Ask: </span>
                                <span>1.11941</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market__list-card">
                    <div class="market__list-card__ico">
                        <img src="https://static.expertoption.com/asset-icons/png/AUDNZD@2x.png" alt="">
                    </div>
                    <div class="market__list-card__info">
                        <div class="market__list-card__title">
                            <div class="market__list-card__item">
                                <div class="d-flex align-items-center">
                                    <h2>AUDNZD</h2>
                                    <div class="arrow up"></div>
                                </div>
                            </div>
                            <div class="market__list-card__favorite"></div>
                        </div>
                        <div class="bid-ask">
                            <div class="bid">
                                <span>Bid: </span>
                                <span>1.07721</span>
                            </div>
                            <div class="ask">
                                <span>Ask: </span>
                                <span>1.07740</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market__list-card">
                    <div class="market__list-card__ico">
                        <img src="https://static.expertoption.com/asset-icons/png/EURUSD@2x.png" alt="">
                    </div>
                    <div class="market__list-card__info">
                        <div class="market__list-card__title">
                            <div class="market__list-card__item">
                                <div class="d-flex align-items-center">
                                    <h2>EURUSD</h2>
                                    <div class="arrow down"></div>
                                </div>
                            </div>
                            <div class="market__list-card__favorite"></div>
                        </div>
                        <div class="bid-ask">
                            <div class="bid">
                                <span>Bid: </span>
                                <span>1.11941</span>
                            </div>
                            <div class="ask">
                                <span>Ask: </span>
                                <span>1.11941</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market__list-card">
                    <div class="market__list-card__ico">
                        <img src="https://static.expertoption.com/asset-icons/png/AUDNZD@2x.png" alt="">
                    </div>
                    <div class="market__list-card__info">
                        <div class="market__list-card__title">
                            <div class="market__list-card__item">
                                <div class="d-flex align-items-center">
                                    <h2>AUDNZD</h2>
                                    <div class="arrow up"></div>
                                </div>
                            </div>
                            <div class="market__list-card__favorite"></div>
                        </div>
                        <div class="bid-ask">
                            <div class="bid">
                                <span>Bid: </span>
                                <span>1.07721</span>
                            </div>
                            <div class="ask">
                                <span>Ask: </span>
                                <span>1.07740</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market__list-card">
                    <div class="market__list-card__ico">
                        <img src="https://static.expertoption.com/asset-icons/png/EURUSD@2x.png" alt="">
                    </div>
                    <div class="market__list-card__info">
                        <div class="market__list-card__title">
                            <div class="market__list-card__item">
                                <div class="d-flex align-items-center">
                                    <h2>EURUSD</h2>
                                    <div class="arrow down"></div>
                                </div>
                            </div>
                            <div class="market__list-card__favorite"></div>
                        </div>
                        <div class="bid-ask">
                            <div class="bid">
                                <span>Bid: </span>
                                <span>1.11941</span>
                            </div>
                            <div class="ask">
                                <span>Ask: </span>
                                <span>1.11941</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market__list-card">
                    <div class="market__list-card__ico">
                        <img src="https://static.expertoption.com/asset-icons/png/AUDNZD@2x.png" alt="">
                    </div>
                    <div class="market__list-card__info">
                        <div class="market__list-card__title">
                            <div class="market__list-card__item">
                                <div class="d-flex align-items-center">
                                    <h2>AUDNZD</h2>
                                    <div class="arrow up"></div>
                                </div>
                            </div>
                            <div class="market__list-card__favorite"></div>
                        </div>
                        <div class="bid-ask">
                            <div class="bid">
                                <span>Bid: </span>
                                <span>1.07721</span>
                            </div>
                            <div class="ask">
                                <span>Ask: </span>
                                <span>1.07740</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market__list-card">
                    <div class="market__list-card__ico">
                        <img src="https://static.expertoption.com/asset-icons/png/EURUSD@2x.png" alt="">
                    </div>
                    <div class="market__list-card__info">
                        <div class="market__list-card__title">
                            <div class="market__list-card__item">
                                <div class="d-flex align-items-center">
                                    <h2>EURUSD</h2>
                                    <div class="arrow down"></div>
                                </div>
                            </div>
                            <div class="market__list-card__favorite"></div>
                        </div>
                        <div class="bid-ask">
                            <div class="bid">
                                <span>Bid: </span>
                                <span>1.11941</span>
                            </div>
                            <div class="ask">
                                <span>Ask: </span>
                                <span>1.11941</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market__list-card">
                    <div class="market__list-card__ico">
                        <img src="https://static.expertoption.com/asset-icons/png/AUDNZD@2x.png" alt="">
                    </div>
                    <div class="market__list-card__info">
                        <div class="market__list-card__title">
                            <div class="market__list-card__item">
                                <div class="d-flex align-items-center">
                                    <h2>AUDNZD</h2>
                                    <div class="arrow up"></div>
                                </div>
                            </div>
                            <div class="market__list-card__favorite"></div>
                        </div>
                        <div class="bid-ask">
                            <div class="bid">
                                <span>Bid: </span>
                                <span>1.07721</span>
                            </div>
                            <div class="ask">
                                <span>Ask: </span>
                                <span>1.07740</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market__list-card">
                    <div class="market__list-card__ico">
                        <img src="https://static.expertoption.com/asset-icons/png/EURUSD@2x.png" alt="">
                    </div>
                    <div class="market__list-card__info">
                        <div class="market__list-card__title">
                            <div class="market__list-card__item">
                                <div class="d-flex align-items-center">
                                    <h2>EURUSD</h2>
                                    <div class="arrow down"></div>
                                </div>
                            </div>
                            <div class="market__list-card__favorite"></div>
                        </div>
                        <div class="bid-ask">
                            <div class="bid">
                                <span>Bid: </span>
                                <span>1.11941</span>
                            </div>
                            <div class="ask">
                                <span>Ask: </span>
                                <span>1.11941</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="market__list-card">
                    <div class="market__list-card__ico">
                        <img src="https://static.expertoption.com/asset-icons/png/AUDNZD@2x.png" alt="">
                    </div>
                    <div class="market__list-card__info">
                        <div class="market__list-card__title">
                            <div class="market__list-card__item">
                                <div class="d-flex align-items-center">
                                    <h2>AUDNZD</h2>
                                    <div class="arrow up"></div>
                                </div>
                            </div>
                            <div class="market__list-card__favorite"></div>
                        </div>
                        <div class="bid-ask">
                            <div class="bid">
                                <span>Bid: </span>
                                <span>1.07721</span>
                            </div>
                            <div class="ask">
                                <span>Ask: </span>
                                <span>1.07740</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
